<div class="bg-white h-auto py-20   w-full flex flex-col justify-center items-center text-center">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/pajaritos.jpg" class="w-28" alt="">
    <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" style="font-family: 'Hilliamoon', sans-serif;" class="text-6xl">¡Te esperamos!</h1>
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" class="p-3 text-sm text-gray-700" style="font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;">
        Quince años es... Dejar un mundo atrás y entrar en otro nuevo, es compartir mis sueños
    </p>

    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500" class="p-3 text-sm text-gray-700" style="font-family: 'Roboto', sans-serif;
    font-weight: 110;
    font-style: normal;">
        con los que más quiero y dejar de ser pimpollo para convertime en flor. 
    </p>

</div>