
<div class="bg-cover bg-no-repeat sepia-0 bg-[url('assets/img/fondoXV.png')] h-screen w-screen text-center flex flex-col gap-0 items-center justify-center ">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script>
        AOS.init();
      </script>
  <div class="flex flex-col items-center justify-center pt-[700px]">
    <img data-aos="fade-down" data-aos-duration="2000" src="assets/img/nombre.png" class="mb-0 w-600" alt="">
</div>


    <audio class="hidden" autoplay  controls>
        <source src="" type="audio/mpeg">
        
      </audio>
</div>

<app-invitado></app-invitado>
<app-recepcion></app-recepcion>
<app-contador></app-contador>
<app-dresscode></app-dresscode>
<app-calendario></app-calendario>
<app-banc></app-banc>
<app-footer></app-footer>